appdirs==1.4.4
apsw==3.40.0.0
async-timeout==4.0.2
attrs==22.2.0
Automat==22.10.0
autopep8==2.0.1
Babel==2.10.3
bcrypt==3.2.2
beautifulsoup4==4.11.2
beniget==0.4.1
black==23.1.0
bleach==5.0.1
blinker==1.5
Brlapi==0.8.4
Brotli==1.0.9
certifi==2022.9.24
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
constantly==15.1.0
contourpy==1.0.7
cryptography==38.0.4
css-parser==1.0.8
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.32
dbus-python==1.3.2
decorator==5.1.1
deprecation==2.0.7
distlib==0.3.6
distro==1.8.0
distro-info==1.5
feedparser==6.0.10
filelock==3.9.0
flake8==5.0.4
fonttools==4.38.0
fs==2.4.16
future==0.18.2
gast==0.5.2
gitdb==4.0.9
GitPython==3.1.30
gyp==0.1
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httplib2==0.20.4
humanfriendly==10.0
hyperlink==21.0.0
idna==3.3
ifaddr==0.1.7
img2pdf==0.4.4
importlib-metadata==4.12.0
incremental==21.3.0
iniconfig==1.1.1
iotop==0.6
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==0.0.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
libevdev==0.5
louis==3.24.0
lxml==4.9.2
lz4==4.0.2+dfsg
Mako==1.2.4.dev0
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.6.3
mccabe==0.7.0
mechanize==0.4.8
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.0.3
mutagen==1.46.0
mypy-extensions==0.4.3
netifaces==0.11.0
numexpr==2.8.4
numpy==1.24.2
oauthlib==3.2.2
ocrmypdf==14.0.1+dfsg1
olefile==0.46
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathspec==0.11.0
patsy==0.5.3
pdfminer.six==20221105
pep8==1.7.1
pexpect==4.8.0
pikepdf==6.0.0+dfsg
Pillow==9.4.0
platformdirs==2.6.0
pluggy==1.0.0+repack
ply==3.11
progressbar==2.5
proselint==0.10.2
psutil==5.9.4
ptyprocess==0.7.0
py==1.11.0
py7zr==0.11.3+dfsg
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pychm==0.8.6
pycodestyle==2.10.0
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.45.2
pyenchant==3.2.2
pyflakes==2.5.0
Pygments==2.14.0
PyGObject==3.42.2
PyHamcrest==2.0.3
PyJWT==2.6.0
Pymacs==0.25
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-sip==12.11.1
PyQt6==6.4.2
PyQt6-sip==13.4.1
PyQt6-WebEngine==6.4.0
pyserial==3.5
PySimpleSOAP==1.16.2
pysmbc==1.0.23
pytest==7.2.1
python-apt==2.6.0
python-dateutil==2.8.2
python-debian==0.1.49
python-debianbts==4.0.1
pythran==0.11.0
pytz==2022.7.1
pyudev==0.24.0
pyxdg==0.28
regex==2022.10.31
reportbug==12.0.0
reportlab==3.6.12
repoze.lru==0.7
requests==2.28.1
Routes==2.5.1
scikit-learn==1.2.1
scipy==1.10.1
scour==0.38.2
seaborn==0.12.2
service-identity==18.1.0
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2
statsmodels==0.13.5+dfsg
sympy==1.11.1
tables==3.7.0
texttable==1.6.7
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.3.3
tqdm==4.64.1
Twisted==22.4.0
typing_extensions==4.4.0
ufoLib2==0.14.0
unattended-upgrades==0.1
unicodedata2==15.0.0
urllib3==1.26.12
virtualenv==20.17.1+ds
wadllib==1.3.6
webencodings==0.5.1
websockets==10.4
xdg==5
yapf==0.32.0
yt-dlp==2023.3.4
zeroconf==0.47.3
zipp==1.0.0
zope.interface==5.5.2
